
<mat-sidenav-container class="login-side-container">
    <mat-sidenav mode="side" opened class="login-sidenav">
        <div class="side-container">
          <h2 class="logo"><mat-icon style="font-size: large;">supervised_user_circle</mat-icon>Mentor On Demand</h2>
      <p><strong>Mentor On Demand</strong> is an online mentorship platform under the FullStack Technical. This means you can find a mentor to start your full stack journey.</p>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="addUser(userForm.value)" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="login-main-container">
            <h2>Sign Up Mentor On Demand</h2>
            <mat-form-field>
                <input matInput placeholder="Enter your name" formControlName="name" id="name" required>
                <mat-error *ngIf="hasError('name', 'required')">
                    You must enter a name
                  </mat-error>
              </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="email" id="email" required>
              <mat-error *ngIf="hasError('email', 'required')">You must enter a email</mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Not a valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Enter your password" formControlName="password" id="password" required>
                <mat-error *ngIf="hasError('password', 'required')">
                    You must enter a password
                  </mat-error>
                  <mat-error *ngIf="hasError('password', 'minlength')">
                      You must enter more than 6 length password
                    </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Select your role</mat-label>
                  <select matNativeControl formControlName="role" id="role" required>
                    <option value="user">User</option>
                    <option value="mentor">Mentor</option>
                  </select>
                  <mat-error *ngIf="hasError('role', 'required')">
                    You must enter a role
                  </mat-error>
                </mat-form-field>
              <button [disabled]="loading" [disabled]="!userForm.valid"  mat-stroked-button color="primary">SIGN UP</button>
          </div>
        </form>
          <div class="foot">
              <span style="margin-top: 15px;">Already have an account? <a href="/login">Log in</a></span>
            </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
