.logo {
  color: white;
}
.login-side-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-container {
  text-align: center;
  margin-top: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

.login-sidenav {
  align-items: center;
  justify-content: center;
  width: 500px;
  background: #6a056a;
  margin: auto;
}
.login-main-container {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.login-main-container > * {
  width: 35%;
  margin: auto;
}
.foot {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.foot a {
  text-decoration: none;
}
