.main {
  width: 95%;
  margin: auto;
}

.spinner {
  margin: auto;
  margin-top: 200px;
}
.course-card {
  width: 100%;
  /* height: 200px; */
  margin: 20px 10px;
}

.course-actions {
  text-align: right;
  margin-right: 10px;
}
.label {
  color: blueviolet;
  margin-right: 10px;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}
.mat-header-spacer {
  flex: 1 1 auto;
}

.action-spacer {
  flex: 1 1 auto;
}

.mat-card-header {
  /* background-color:green !important; */
  width: 100%;
  background: linear-gradient(40deg, white 85%, transparent 30%);
}

.rotate {
  -moz-transform: rotate(40deg); /* Firefox */
  -webkit-transform:rotate(40deg); /* Safari & Chrome */
  -ms-transform:rotate(90deg); /* IE 9 */
  -o-transform:rotate(90deg); /* Opera */
  float: left;
  margin-top: 12px;
  margin-bottom: 20px;
  }

.mat-progress-bar {
  height: 15px;
}
