<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Mentor On Demand</span>
    <div *ngIf="currentUser && currentUser.role === 'mentor'; else userbar" class="toolbar-mentor">
        <button mat-stroked-button (click)="addCourseDialog()">Create Course</button>

      </div>
    <ng-template #userbar>
    <div class="toolbar-search">

        <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date of training">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
    <mat-form-field>
        <input matInput placeholder="Find Mentor" type="search" name="search" [(ngModel)]="searchText" autocomplete="off"><mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- <button mat-mini-fab color="primary">
          <mat-icon>search</mat-icon>
        </button> -->

    </div>
  </ng-template>


    <span class="toolbar-spacer"></span>
    <div *ngIf="!currentUser; else logout" class="toolbar-button-row">
      <button mat-stroked-button [routerLink]="['/login']">Login</button>
      <button mat-stroked-button [routerLink]="['/signup']">SignUp</button>
    </div>
    <ng-template #logout>
      <span class="user-name">{{ currentUser.username }}</span>
      <button mat-stroked-button (click)="logoutuser()">Logout</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<app-course-list *ngIf="currentUser && currentUser.role === 'mentor'"></app-course-list>
<app-mentor-list [searchText]="searchText" *ngIf="!currentUser"></app-mentor-list>
<app-user-list *ngIf="currentUser && currentUser.role === 'user'" [userRole]="currentUser.role" [searchText]="searchText"></app-user-list>
<router-outlet></router-outlet>

